@*@model JustClick.Models.ProjectConfigModel*@
@model JustClick.Models.ViewModels.ProjectConfigVM
@{

    //Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Project Config.";
}


<div class="row">
    <div class="col">
        <div class="card shadow">


            <form method="post">


                @*<div class="row p-3 border">*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (Model.projectConfigModel.URN != 0)
                {
                    title = "Edit Project";
                    <input type="hidden" asp-for="projectConfigModel.URN" />
                }




                <div class="card-header border-0">
                    <br />
                    <div class="row">
                        <div class="col-12 border-bottom">
                            <h2 class="text-primary">@title</h2>
                        </div>
                    </div>
                </div>


                <div class="col-8 pt-4">

                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.PROJECT_CODE"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.PROJECT_CODE" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.PROJECT_CODE" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>




                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.PROJECT_NAME"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.PROJECT_NAME" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.PROJECT_NAME" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.OWNER"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.OWNER" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.OWNER" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>



                    @* <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_2"></label>
            </div>

            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_2" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_2" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_3"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_3" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_3" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_4"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_4" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_4" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_5"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_5" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_5" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_6"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_6" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_6" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_7"></label>
            </div>
            <div class="col-8">

                <textarea rows="20" asp-for="SCRIPT_7" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_7" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_8"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_8" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_8" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_9"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_9" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_9" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4" style="text-align:right">
                <label asp-for="SCRIPT_10"></label>
            </div>
            <div class="col-8">
                <textarea rows="20" asp-for="SCRIPT_10" class="form-control"></textarea>
                <span asp-validation-for="SCRIPT_10" class="invalid-feedback" style="display: block"></span>
            </div>
        </div>*@



                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.WARNINGCALL"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.WARNINGCALL" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.WARNINGCALL" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.MAXCALL"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.MAXCALL" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.MAXCALL" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.MAXCALLBACK"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.MAXCALLBACK" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.MAXCALLBACK" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.MAXNOCONTACT"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.MAXNOCONTACT" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.MAXNOCONTACT" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.PATHREPORT"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.PATHREPORT" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.PATHREPORT" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.PBXIP"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.PBXIP" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.PBXIP" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.SP_STATUS"></label>
                        </div>

                        <div class="col-8">
                            <input asp-for="projectConfigModel.SP_STATUS" class=" form-control" />
                            <span asp-validation-for="projectConfigModel.SP_STATUS" class="invalid-feedback" style="display: block"></span>
                        </div>
                    </div>





                    <div class="form-group row">

                        <div class="col-4" style="text-align:right">
                            <label asp-for="projectConfigModel.ENDOFPROJECT"></label>
                        </div>

                        <div class="col-8">
                            <input id="datepicker" asp-for="TEXTENDDATE" class="form-control datepicker" data-date-format="dd/mm/yyyy" />




                            <span asp-validation-for="TEXTENDDATE" class="invalid-feedback" style="display: block"></span>
                        </div>


                    </div>




                    <div class="card shadow">
                        <div class="card-body">

                            <div class="nav-wrapper">
                                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-cloud-upload-96 mr-2"></i> <label asp-for="projectConfigModel.SCRIPT_1"></label></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i> <label asp-for="projectConfigModel.SCRIPT_2"></label></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i> <label asp-for="projectConfigModel.SCRIPT_3"></label></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                    @*<div class="col-8">*@
                                        <textarea rows="20" asp-for="projectConfigModel.SCRIPT_1" class="form-control"></textarea>
                                        <span asp-validation-for="projectConfigModel.SCRIPT_1" class="invalid-feedback" style="display: block"></span>
                                    @*</div>*@
                                </div>
                                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                    @*<div class="col-8">*@
                                        <textarea rows="20" asp-for="projectConfigModel.SCRIPT_2" class="form-control"></textarea>
                                        <span asp-validation-for="projectConfigModel.SCRIPT_2" class="invalid-feedback" style="display: block"></span>
                                    @*</div>*@
                                </div>
                                <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                    @*<div class="col-8">*@
                                        <textarea rows="20" asp-for="projectConfigModel.SCRIPT_3" class="form-control"></textarea>
                                        <span asp-validation-for="projectConfigModel.SCRIPT_3" class="invalid-feedback" style="display: block"></span>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>
                    </div>




                    <br />
                    <br />

                    <div class="form-group row">
                        <div class="col-8 offset-4">
                            @if (Model.projectConfigModel.URN != 0)
                            {


                                <partial name="_EditAndBackToListButton" model="Model.projectConfigModel.URN" />
                            }
                            else
                            {
                                <partial name="_CreateAndBackToListButton" />
                            }
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/vendor/tinymce/tinymce.min.js"></script>

    <script src="~/lib/pickadate.js-3.6.2/picker.js"></script>


    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">

                window.onload = function () {

                            swal({
                                title: "Warning",
                                text: "@Html.Raw( @ViewBag.Message)",
                                icon: "warning",
                                html: true,
                                dangerMode: true
                            })


                        //swal("@ViewBag.Message");
                    };
        </script>

        <script type="text/javascript">


            $("#CreateRow").click(function () {
                tinyMCE.triggerSave();
            });
        </script>
    }

    @*<script>
            $(function () {
                $("#datepicker").datepicker();
            });
        </script>*@

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: true,
                language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                thaiyear: true              //Set เป็นปี พ.ศ.
            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        });
    </script>




}
